/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4084ac;
  --ifm-color-primary-dark: #367092;
  --ifm-color-primary-darker: #274f66;
  --ifm-color-primary-darkest: #203f52;
  --ifm-color-primary-light: #378fc2;
  --ifm-color-primary-lighter: #3e9bd1;
  --ifm-color-primary-lightest: #49abe4;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4084ac;
  --ifm-color-primary-dark: #367092;
  --ifm-color-primary-darker: #274f66;
  --ifm-color-primary-darkest: #203f52;
  --ifm-color-primary-light: #378fc2;
  --ifm-color-primary-lighter: #3e9bd1;
  --ifm-color-primary-lightest: #49abe4;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
